.features-section {
    background-color: #f9f9f9;
    padding: 30px 0;
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    
    padding-top: 5px;

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .feature-item {
        flex: 1;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        background-color: #fff;
        margin: 10px;
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-5px);
        }

        .feature-icon {
            font-size: 40px;
            color: #ffd700;
            margin-right: 10px;
        }

        h5 {
            font-size: 18px;
            color: #333;
            margin: 0;
        }
    }

    @media (max-width: 768px) {
        .feature-item {
            max-width: 100%;
            flex: 1 1 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 10px;
            padding: 30px;
            box-sizing: border-box;
        }

        .feature-icon {
            font-size: 50px;
        }

        h5 {
            font-size: 22px;
        }

        .container {

            padding-left: 1px;
            padding-right: 1px;
        }
    }

    @media (max-width: 576px) {
        .feature-item {
            max-width: 100%;
            padding: 35px;
            margin: 5px;
        }

        .feature-icon {
            font-size: 55px;
        }

        h5 {
            font-size: 24px;
        }
    }
}
.container {
    max-width: 100%;
    padding: 0 15px;
}