<div class="features-section">
    <div class="container">
      <div class="row">
         <div class="col feature-item">
          <i class="fa fa-check-circle feature-icon"></i>
          <h5>Quality Product</h5>
        </div>
 
        <div class="col feature-item">
          <i class="fa fa-truck feature-icon"></i>
          <h5>Free Shipping</h5>
        </div>
   
        <div class="col feature-item">
          <i class="fa fa-undo feature-icon"></i>
          <h5>14-Day Return</h5>
        </div>
           <div class="col feature-item">
          <i class="fa fa-headphones feature-icon"></i>
          <h5>24/7 Support</h5>
        </div>
      </div>
    </div>
  </div>
  