<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="product-offer position-relative mb-30">
                    <img class="img-fluid" src="assets/images/carousel-1.jpg" alt="Carousel 1">
                    <div class="offer-text position-absolute">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="#" class="btn btn-warning">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="product-offer position-relative mb-30">
                    <img class="img-fluid" src="assets/images/photo2.jpg" alt="Photo 2">
                    <div class="offer-text position-absolute">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="#" class="btn btn-warning">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
