<div class="container-fluid ">
    <div class="container">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer position-relative mb-30" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="assets/images/carousel-1.jpg" alt="">
                    <div class="offer-text position-absolute">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="#" class="btn btn-warning">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer position-relative mb-30" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="assets/images/photo2.jpg" alt="">
                    <div class="offer-text position-absolute">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="#" class="btn btn-warning">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>