.categories-section {
    background-color: #f9f9f9;
    padding: 30px 0;
    margin-left: 0;
}

.section-title {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 10px;

}

.section-title .line {
    flex-grow: 1;
    height: 1px;
    background: #999;
    padding-bottom: 10px;

}

.rating {
    color: #ffc107;
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
}

.rating small {
    font-size: 14px;
    color: #666;
}

.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: -1px; }


.product-item {
    background: #fff;
    overflow: hidden;
    
 }

.product-img img {
    transition: transform 0.3s ease-in-out;
}

.product-img img:hover {
    transform: scale(1.1);
}

.text-center a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.featured-products-header {
    padding-left: 50px;
    width: 95.5%;
}


.featured-products-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top:0px;
    padding-left: 55px;

}

.featured-products-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
    white-space: nowrap;

}



.category-line {
    flex-grow: 1;
    border: none;
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #201f1f;
    margin-left: 1px;
}

.text-center h5 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.text-center h6 {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.col-lg-3,
.col-md-4,
.col-sm-6 {
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 0;
    padding-top: 10px;
}
 
.row{ 
    padding-left: 18px;
    padding-right: 18px;}

@media (max-width: 768px) {

    .col-lg-3,
    .col-md-4,
    .col-sm-6 {
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .product-item {
        margin-bottom: 0;
        
    }

    .section-title {
        padding-right: 0;
        padding-left: 0;
    }

    .footer {
        padding-top: 1px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-img {
        padding-bottom: 0;
    }

    .top {
        padding-top: 20px;
    }
    .featured-products-header{
        padding-left: 25px;
        width: 94%;
    }

}