<div class="categories-section">
    <div class="container">
        <h2 class="section-title">CATEGORIES</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-1.jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-2.jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-3.jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-4 .jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-3.jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-2.jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid " src="assets/images/cat-4 .jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="assets/images/cat-1.jpg">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Name</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>