<div class="categories-section">
    <div class="container">
        <h2 class="section-title">CATEGORIES</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZXnl7ufOFx4RprwL5gkM5n6dYoLPH5iZI3w&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;" alt="Category 1" />
                    <h5>Category Name 1</h5>
                    <p>100 Products</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9YaViSORj1xfJdFV_iN_kmADlcTn97TsOyA&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;" />
                    <!-- <img src="assets/images/category2.jpg" alt="Category 2" /> -->
                    <h5>Category Name 2</h5>
                    <p>100 Products</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2Z9_RhVklzAtGxI4F4-cPql8VLp1iNTHskw&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;" alt="Category 3" />
                    <h5>Category Name 3</h5>
                    <p>100 Products</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJoebp0eCkj5NE6ujRC5OjIO8bYLmeKXKysg&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;" alt="Category 4" />
                    <h5>Category Name 4</h5>
                    <p>100 Products</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX2kCHd9raMnIc1QfzySPiJIsmyxR2eKLfUQ&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;" alt="Category 3" />
                    <h5>Category Name 3</h5>
                    <p>100 Products</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVbqc0rj0at2_GRa6HL80fCgFhUlSnn3f19Q&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;">
                    <h5>Category Name 4</h5>
                    <p>100 Products</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7XNeacJabLsRRSddtokNzGRofG0mvTQxjYA&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;">
                    <h5>Category Name 7</h5>
                    <p>100 Products</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item">
                <div class="category-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2Z9_RhVklzAtGxI4F4-cPql8VLp1iNTHskw&s"
                        class="img-fluid rounded" alt="Special Offer"
                        style="height: 250px; width: 100%; object-fit: cover;" alt="Category 3" />
                    <h5>Category Name 3</h5>
                    <p>100 Products</p>
                </div>

            </div>
        </div>
    </div>
</div>
