 


<div class="categories-section">
    
    <div class="container">
        <div class="category-header"> 
        <h2 class="section-title">CATEGORIES</h2>
    </div>
        <div class="row">
 
            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-1.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-2.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-3.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-4.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-4.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-1.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-2.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 category-item ">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center ">
                            <div class="img-continer" style="width: 100px; height: 100px;" >
                                <img class="img-fluid" src="assets/images/cat-3.jpg" alt="Category Image">
                            </div>
                            <div class="info">
                                <h6>Category Name</h6>
                                <small>100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>
