<div class="container-banner">
    <!-- <div class="container-fluid "> -->
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-8 ps-4 ">
                <div id="mainBanner" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/carousel-1.jpg" class="d-block w-100 img-fluid" alt="Men Fashion"
                                style="height: 380px; object-fit: cover; object-position: top;" />
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="fw-bold">Men Fashion</h1>
                                <p>
                                    Lorem rebm magna amet lorem magna erat diam stet. Sadips duo
                                    stet amet amet ndiam elitr ipsum diam.
                                </p>
                                <a href="#" class="btn btn-outline-light px-4 py-2">Shop Now</a>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="assets/images/carousel-2.jpg" class="d-block w-100 img-fluid" alt="Men Fashion"
                                style="height: 380px; object-fit: cover; object-position: top;" />
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="fw-bold">Women Fashion</h1>
                                <p>
                                    Lorem rebm magna amet lorem magna erat diam stet. Sadips duo
                                    stet amet amet ndiam elitr ipsum diam.
                                </p>
                                <a href="#" class="btn btn-outline-light px-4 py-2">Shop Now</a>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="assets/images/carousel-3.jpg" class="d-block w-100 img-fluid" alt="Men Fashion"
                                style="height: 380px; object-fit: cover; object-position: top;" />
                            <div class="carousel-caption d-none d-md-block">
                                <h1 class="fw-bold">Kids Fashion</h1>
                                <p>
                                    Lorem rebm magna amet lorem magna erat diam stet. Sadips duo
                                    stet amet amet ndiam elitr ipsum diam.
                                </p>
                                <a href="#" class="btn btn-outline-light px-4 py-2">Shop Now</a>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#mainBanner"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mainBanner"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="mb-3 position-relative text-white">
                    <img width="100%" height="200" src="assets/images/photo1.jpg" alt="">

                    alt="Special Offer" style="height: 170px; width: 100%; object-fit: cover;" />
                    <div class="position-absolute top-50 start-50 translate-middle text-center;  object-fit: cover;">
                        <h6 class="fw-bold text-warning">SAVE 20%</h6>
                        <h3>Special Offer</h3>
                        <a href="#" class="btn btn-warning px-4 py-2">Shop Now</a>
                    </div>
                </div>
                <div class="mb-3 position-relative text-white">
                    <img width="100%" height="200px" style="margin-top: -50px" src="assets/images/photo2.jpg" alt=""
                        alt="Special Offer"
                        style="height: 170px; width: 100%;  object-fit: cover; margin-top: -50px;" />
                    <div class="position-absolute top-50 start-50 translate-middle text-center;  object-fit: cover;">
                        <h6 class="fw-bold text-warning">SAVE 20%</h6>
                        <h3>Special Offer</h3>
                        <a href="#" class="btn btn-warning px-4 py-2">Shop Now</a>
                    </div>
                </div>

            </div>
        </div>
        <button (click)="scrollToTop()" class="scroll-to-top-btn rounded-circle">
            <i class="bi bi-arrow-up"></i>
        </button>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->