.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}
.image-container app-special-offer img { 
  object-fit: cover;
}

.container-fluid {
  background-color: #f9f9f9;
   padding-top: 20px;
   padding-right: 0;
   padding-left: 0; 
  
}

.container-banner {
  padding-left: 15px;  
  padding-right: 15px; 
  margin-left: auto; 
  margin-right: auto;  
  max-width: 98%; 
  margin-top: 15px;
  background-color: #f9f9f9;

}

.carousel-inner img {
  width: 100%;  
  object-fit: cover;  
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  
}
 