.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

.image-container app-special-offer img {
  object-fit: cover;
}

.container-fluid {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-right: 0;
  padding-left: 0;

}

.container-banner {
  padding-left: 15px;
  padding-right: 15px;

  max-width: 98%;
  padding-top: 15px;
  background-color: #f9f9f9;
  margin: 0;
  overflow: hidden;

}

.carousel-inner img {
  width: 100%;
  object-fit: cover;
  margin: 0;

}

.container {
  margin: 0;


  max-width: 100%;
  padding: 0 15px;
}