 .topbar a {
    font-size: 0.9rem;
    white-space: nowrap; 
  }
   
  .topbar .container-fluid {
    flex-wrap: nowrap !important;  
    overflow-x: auto; 
    gap: 10px; 
  }
  
  .topbar .d-flex {
    flex-wrap: nowrap !important;
    align-items: center;
  }
  
  .dropdown a {
    white-space: nowrap;  
  }
  .topbar {
    padding-bottom: 10px;  
}
  