<div class="topbar bg-light border-bottom py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-nowrap">
        <div class="d-flex flex-nowrap">
            <a href="#" class="text-secondary text-decoration-none me-3">About</a>
            <a href="#" class="text-secondary text-decoration-none me-3">Contact</a>
            <a href="#" class="text-secondary text-decoration-none me-3">Help</a>
            <a href="#" class="text-secondary text-decoration-none">FAQs</a>
        </div>
        <div class="d-flex align-items-center flex-nowrap">
            <div class="dropdown me-3">
                <a class="text-secondary dropdown-toggle text-decoration-none" href="#" id="accountDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    My Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                    <li><a class="dropdown-item" href="#">Sign In</a></li>
                    <li><a class="dropdown-item" href="#">Sign Up</a></li>
                </ul>
            </div>
            <div class="dropdown me-3">
                <a class="text-secondary dropdown-toggle text-decoration-none" href="#" id="currencyDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    USD
                </a>
                <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
                    <li><a class="dropdown-item" href="#">USD</a></li>
                    <li><a class="dropdown-item" href="#">EUR</a></li>
                    <li><a class="dropdown-item" href="#">GBP</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="text-secondary dropdown-toggle text-decoration-none" href="#" id="languageDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    EN
                </a>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">FR</a></li>
                    <li><a class="dropdown-item" href="#">ES</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-banner></app-banner>
<app-features></app-features>
<app-categories></app-categories>
<app-product></app-product>
<app-special-offer></app-special-offer>
<app-recent-products></app-recent-products>
<app-brand-logo></app-brand-logo>
<app-footer></app-footer>