<div class="categories-section">
    <div class="container">
        <div class="row d-flex flex-nowrap">
            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center">
                            <div class="overflow-hidden" style="width: 150px; height: 150px;">
                                <img class="img-fluid" src="assets/images/brand1.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center">
                            <div class="overflow-hidden" style="width: 150px; height: 150px;">
                                <img class="img-fluid" src="assets/images/brand2.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center">
                            <div class="overflow-hidden" style="width: 150px; height: 150px;">
                                <img class="img-fluid" src="assets/images/brand3.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 category-item pb-1">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center">
                            <div class="overflow-hidden" style="width: 150px; height: 150px;">
                                <img class="img-fluid" src="assets/images/brand4.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
             
        </div>
    </div>
</div>
