<div class="categories-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-2 col-md-3 col-sm-4 category-item">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/images/brand1.jpg" alt="Brand 1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 category-item">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/images/brand2.jpg" alt="Brand 2">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 category-item">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/images/brand3.jpg" alt="Brand 3">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 category-item">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/images/brand4.jpg" alt="Brand 4">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 category-item">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/images/brand1.jpg" alt="Brand 5">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 category-item">
                <div class="category-card">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/images/brand2.jpg" alt="Brand 6">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>