.brand-logo {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .brand-logo img {
    max-width: 100%;
    height: auto;
  }

  .row {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;  
      margin-left: 10px;
  }

  .category-item {
      flex: 0 0 auto;
      margin-left: 10px;
      margin-top: 10px;
  }

  .cat-item .overflow-hidden {
      width: 150px; 
      height: 150px; 
  }

  .cat-item img {
      width: 100%;  
      height: 100%;  
      object-fit: cover;  
  }

  .categories-section {
    background-color: #f9f9f9;
    padding: 30px 30px;
}
 

  