 .categories-section {
    background-color: #f9f9f9;
    padding: 30px 0;
 }

 .categories-section .container {
    padding-left: 15px;  
    padding-right: 15px;  
}
  
 .categories-section .section-title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 20px;
       display: inline-block;
      padding-bottom: 10px;
    }

    .categories-section .row {
        margin-left: 0;
        margin-right: 0;
    }
    
 

 .rating {
    color: #ffc107;  
    font-size: 24px;  
    display: inline-block;
    margin-right: 5px;  
}

.rating small {
    font-size: 14px;  
    color: #666;  

}
